<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     <form action="/data" method="GET">
        <div>
        <input type="text" name = "q" placeholder="enter title name">
        <button type="submit" >Search</button>
       </div>
    </form>


    {% for i in mydata %}
    <h4>TITLE:<span class="spantag">{{i[0]}}</span></h4>
    <h4>DESC:<span class="spantag">{{i[1]}}</span></h4>
    <h4>IMG:<span class="spantag">
        <img src="{{i[2]}}" style="    width: 50%;">
    </span></h4>
    {% endfor %}
</body>
</html>